 .navbar {
        display: flex;
        width: 100%;
        margin-bottom: 50px;
        align-items: center;
        height: 100px;
        z-index: 190;

    }

    .no-style-link {
        width: 7%;
        border-bottom: none;
        margin-left: 5%;
        z-index: 195;

    }

      .no-style-link:hover {
          border: none;
      }

    .logo {
        width: 100%;
        margin-left: 5%;
        z-index: 200;

    }
    .nav-btn {
        position: absolute;
        top: 30px;
        right: 25px;
        margin-right: 10%;
        z-index: 99;
        display: flex;
        width: 20px;
        height: 20px;
        border-bottom: none;

    }

    .nav-btn:hover {
        text-decoration: none;
        border-bottom: none;
    }

    .nav-btn span {

        width: 20px;
        height: 2px;
        background: #fff;
        display: flex;
        position: absolute;
        transition: .3s;
        z-index: 2;
    }

    .nav-btn span:nth-child(1) {
        top: 20%;
    }

    .nav-btn span:nth-child(2) {
        top: 80%;
    }

    .nav-btn.is-active span {
        background: #000;
    }
    .nav-btn.is-active span:nth-child(1) {
        top: 50%;
        transform: rotate(-45deg);
        
    }

    .nav-btn.nav-btn.is-active span:nth-child(2) {
        top: 50%;
        transform: rotate(45deg);
    }



    @media screen and (max-width: 800px) {

        .logo {
            width: 100%;
            margin-top: 11px;
            margin-left: 5%;
        }

        .no-style-link {
            width: 30%;
            margin-left: 3%;
        }

        .menu {
            padding: 50px !important;
        }

        .menu__link a{
            text-align: center;
        }

        .nav-btn {
            margin-top: 10px;
            margin-right: 0;
        }
    }

     @media screen and (min-width: 800px) and (max-width: 2000px) {

         .no-style-link {
            /* width: 3%; */
            margin-left: 1%;
         }
        .logo {
            width: 100%;
            margin-top: 11px;
            margin-left: 5%;
        }

     }

/*
 * Fullscreen Nav CSS
 *
 */


.menu { 
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 100px;
    z-index: 3;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.menu.fullscreen-is-active {
    opacity: 1;
    visibility: visible;
}

.menu__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.menu__link:not(:last-child) {
    margin-bottom: 30px;
}

.menu__link {
    position: relative;
    display: inline-flex;
    font-weight: bold;
    font-size: 48px;
    color: #115173;
    text-decoration: none;
    text-transform: uppercase;
    
}

.menu__link a{
    color:#115173;
    border-bottom: none;
}

.menu__link a:hover {
    text-decoration: none !important;
}

.menu__link:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 5px;
    display: inline-flex;
    background: #ffd700;
    transition: .3s;
        text-decoration: none;

}

.menu__link:hover:after {
    width: 100%;
        text-decoration: none;

}