body {
  overscroll-behavior: none;
  height: 100vh;
}
.container {
  overscroll-behavior: none;
  width: 500%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
section {   
    height: 100vh;
    width: 100vw;
    /* background-color: red !important; */
    z-index: 1;
}




.zoneomics {
    background-color: black;
}

.zoneomics-circle {
    background-color: #026ff8 !important;
}

.goldstar {
    /* background-color: green; */
}

.goldstar-circle {
    background-color: #008CD3 !important;
}

.luxor {
    /* background-color: purple; */
}

.luxor-circle {
    background-color: #55B0E8 !important;
}

.loren {
    /* background-color: orange; */
}

.loren-circle {
    background-color: #EB8B2D !important;
}

.nuage {
    /* background-color: #ffd700; */
}

.nuage-circle {
    background-color: #ffc42e !important;
}

.panel {
    display: flex;
    justify-content: space-evenly;
}

.left-column {
    flex: 0 1 40%;
    /* background-color: red; */
    /* background-image: url("../images/zoneomics.jpg"); */
    background-size: cover;
    background-position-y: center;
    margin: 4% 0;
    margin-bottom: 0;
    position: relative;
}

.left-column-zoneomics {
        background-image: url("../images/zoneomics.jpg");
}

.left-column-goldstar {
        background-image: url("../images/goldstar.jpg");
}

.left-column-luxor {
        background-image: url("../images/luxor.jpg");
}
.left-column-loren {
        background-image: url("../images/loren.jpg");
}
.left-column-nuage {
        background-image: url("../images/nuage.jpg");
}
.right-column {
    flex: 0 1 40%;
    /* background-color: green; */
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.section-heading {
    text-transform: uppercase;
    font-size: 90px;
    position: absolute;
    /* left: -280px; */
    bottom: 30%;
    letter-spacing: 10px;
    transform: rotate(270deg);
    width: 0;
}

.round-button {
    border-radius: 50%;
    background-color: #115173;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    width: 210px;
    height: 210px;
    z-index: 4;
    border: none;
    font-size: 24px;
}

.description {
    color: white;
    text-align: left;
    max-width: 330px;
    font-size: 20px;
}

.visit-link {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none !important;
    outline: none;
}

.mini {
    width: 300px;
    height: 200px;
    position: absolute;
    right: -100px;
    bottom: 15%;
}


@media screen and (max-width: 800px) {

    .mini {
    width: 210px;
    height: 140px;
    position: absolute;
    right: -40px;
    bottom: 15%;
}

.section-heading {
    font-size: 70px;
    left: -220px;
    bottom: 36%;

}

.round-button {
    width: 140px;
    height: 140px;
    font-size: 21px;
}

.description {
    font-size: 18px;
}

}



@media screen and (max-width: 1100px) {

    .mini {
    width: 270px;
    height: 180px;
    position: absolute;
    right: -45px;
    bottom: 15%;
}

.section-heading {

    bottom: 0;
    transform: translateY(-230px) rotate(270deg);

}

}

.mobile {
    display: none;
}

@media screen and (max-width: 750px) {
    .mobile{
     display: flex;
     flex-direction: column;
     width: 100vw;
     height: fit-content;
     padding-bottom: 30px;
    }

    .desktop {
        display: none;
    }

    .left-right-container {
        height: 350px;
        width: 100vw;
        flex-wrap: nowrap;
        display: flex;
    }
    .left-column {
        height: 100%;
        flex: 0 1 49%;
        background-size: contain;
    }

    .right-column {
        flex: 0 1 49%;
        height: 100%;
        position: static !important;
        right: -100px;
        bottom: 15%;
        /* transform: translateY(-110%) translateX(100%); */
    }

    .mini {
        position: static !important;
        max-width: 120%;
        transform: translateX(-15%);
    }
    .section-heading {
        text-align: center;
        transform: rotate(0deg);
        font-size: 50px;
        position: static ;
        margin-top: 40px;
        margin-bottom: 20px;
        letter-spacing: 7px;

    }

    .round-button {
        transform: translateY(-40px);
        height: 160px;
        width: 160px;
        margin: 0 auto;
        margin-bottom: -10px;
    }

    .description {
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .visit-link {
        margin: auto;
        outline: 0;
        text-decoration: none;
        border: none;
    }

    .container {
        overscroll-behavior: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }
}




/* TABLETS */

@media screen and (min-width: 751px) and (max-width: 1100px) {

    .container {
        overscroll-behavior: none;
        width: 500% !important;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-y: hidden; 
    }

    .desktop {
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .left-column {
        background-size: auto;
        background-position-x: -125px;
    }
    .right-column {
        /* background-color: #ffd700; */
    }

}

@media screen and (min-width: 1100px) and (max-width: 1600px) {

    .right-column {
        margin-left: 80px;
    }

    .zoneomics-heading {
        bottom: 2%;
    }
}




@media screen and (min-width: 1600px) {

    .desktop section .panel {
        width: 125vw !important;
    }

    .section-heading { 
        bottom: 1%;
    }
}


@media screen and (max-height: 1100px)  and (min-width: 1600px) {

    .section-heading { 
        bottom: -3%;
    }

}


.dot {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  border-bottom: none;
  
}

 .no-border:not(:first-child) {
    margin-left: 5px;
}

.no-border {
    border-bottom: none;
}

.no-border:hover {
    text-decoration: none;
    outline: none;
    border-bottom: none;
}

.active-dot {
    background-color: #777;
    width: 19px;
    border-radius: 45%;
}