html {
	overflow-y: scroll;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
body {
	overflow-y: visible;
	position: relative;
  height: unset;
}
html, body {
	overflow-x: hidden;
	margin: 0;
}

.container {
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

section {   
    height: 100vh;
    width: 100vw;
    /* background-color: red !important; */
    z-index: 1;
}

.zoneomics {
    background-color: navy;
}

.goldstar {
    background-color: green;
}

.luxor {
    background-color: purple;
}

.loren {
    background-color: orange;
}

.nuage {
    background-color: #ffd700;
}