.team-container {
  height: fit-content;
  flex-direction: column;
  display: flex;
}

.team-section {
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  display: flex;
}

.team {
  background-color: #115173;
  opacity: 1;
  z-index: 99999;
  /* position: absolute; */

}

.distortion-talha {
  height: 350px;
  margin-bottom: 30px;
  border-radius: 50%;
  width: 100%;
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0);
    z-index: 55;
}

.webgl {
    z-index: 30 !important;
}
.headline {
  flex: 0 18%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 20% !important;
}

.text-content {
  flex-direction: column;
  flex: 0 82%;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  display: flex;
}

.header {
  text-transform: uppercase;
  color: #fff;
  width: 500px;
  letter-spacing: 15px;
  white-space: nowrap;
  font-size: 110px;
  transform: rotate(270deg);
}

.paragraph {
  color: #fff;
  font-size: 26px;
}

.text-content-team {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.team-member {
  flex-direction: column;
  flex: 0 25%;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  padding-top: 5%;
}

.team-member-image {
  width: 350px;
  height: 350px;
  margin-bottom: 30px;
  border-radius: 50%;
  /* background-size: cover; */
}

.team-member-text-content {
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.name .title .role-description {
  color: #fff;
}

.name, .title {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 800 !important;
}

.role-description {
  font-size: 22px;
  font-weight: 400;
}

.small-banner {
    height: 20vh;
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
}

#transparent-overlay {
    background-color: rgba(17,81,115, 0.8) !important;
}

.text-content-small-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.small-banner-paragraph {
    color: white;
    font-size: 24px;
}

@media screen and (max-width: 1100px) {
  .header {
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    transform: rotate(0deg);
  }

  .headline {
    flex: 0 100%;
    margin-bottom: 50px;
  }

  .text-content {
    flex: 0 100%;
  }

  .team-section {
    height: fit-content;
    flex-direction: column;
    padding: 50px 0;
  }

  .paragraph {
    margin-bottom: 30px;
  }

  .text-content-team {
    flex-direction: column;
  }

  .team-member {
    flex: 0 50%;
    align-items: center;
    margin-bottom: 30px;
  }

  .team-member-image {
    width: 300px;
    height: 300px;
  }

  .team-member-text-content {
    width: 55%;
    text-align: center;
  }

  .small-banner {

    flex-direction: column;
    height: fit-content;
    padding: 5% 0;
    align-items: center;
  }

  .small-banner-paragraph {
        text-align: center;
  }

  .text-content-small-banner {
      justify-content: center;
      align-items: center;
  }
}


@media screen and (max-width: 800px) {

      .team-member-text-content {
          width: 90%;
          text-align: center;
      }

      .header {
          font-size: 35px;
          margin-left: 50px;
      }

      .contact-header {
        margin-left: 0;
      }
      .about-us {
        margin-top: 50px;
      }
}


.swap-on-hover {
  position: relative;	
	margin:  0 auto;
	max-width: 400px;
}

.swap-on-hover img {
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
	/* Sets the width and height for the images*/
	
}

/* 
	We set z-index to be higher than the back image, so it's alwyas on the front.

We give it an opacity leaner to .25s, that way when we hover we will get a nice fading effect. 
*/
.swap-on-hover .swap-on-hover__front-image {
  z-index: 9999;
  transition: opacity .5s linear;
  cursor: pointer;
}

/* When we hover the figure element, the block with .swap-on-hover, we want to use > so the front-image is going to have opacity of 0, which means it will be hidden, to the back image will show */
.swap-on-hover:hover > .swap-on-hover__front-image{
  opacity: 0;
}

.swap-on-hover:hover > .swap-on-hover__back-image{
    opacity: 1;


}

.swap-on-hover__back-image {
  opacity: 0;
  
}

.swap-on-hover__front-image {
    border: 1px solid #ffd700;
    z-index: 10000;

}

    @media screen and (max-width: 1100px) {

      .swap-on-hover img {
       position: static;
      }

      .swap-on-hover__back-image {
        opacity: 0 !important;
        display: none;
      }

      #no-width {
        width: fit-content;
      }

      .swap-on-hover:hover > .swap-on-hover__front-image{
  opacity: 1;
}

    }


    .contact-header {
      transform: rotate(0deg) !important;
    }